@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.user-list-table {
  @apply bg-cardBgColor rounded-md w-full p-3 text-white font-concert;
}

.user-list-table td {
  @apply p-3;
}
.user-list-header th {
  @apply font-[400] text-base  text-start p-3;
}

.user-list-item {
  @apply w-full py-[10px] border-b-[1px] border-slate-300 border-solid;
}

.user-list-item td:nth-child(3) {
  @apply flex flex-row items-center justify-end;
}

.user-list-footer td {
  @apply flex flex-row items-center;
}
