@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.list-table {
  @apply rounded-md w-full p-3 text-white font-concert flex-shrink-[1];
}

.list-table td {
  @apply p-3;
}
.list-table-header {
  @apply border-slate-500 border-b-[1px] border-solid;
}
.list-table-header th {
  @apply font-[400] text-base text-start py-3 px-6 sticky top-0;
}

.tb-row-item {
  @apply border-b-[1px] border-slate-500 border-solid;
}
.tb-row-item td {
  @apply py-3 px-6;
}
.tb-row-item td:nth-child(3) {
  @apply flex flex-row items-center justify-end;
}

.double-field-wrapper {
  @apply w-full flex flex-row flex-wrap justify-between items-center p-3;
}

.input-disabled {
  @apply disabled:border-none disabled:p-0 disabled:!cursor-pointer;
}

.custom-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-slate-200 scrollbar-track-transparent;
}

.back-btn {
  @apply p-0 flex flex-row items-center mb-3 bg-transparent text-base self-start h-fit;
}

.submit-btn {
  @apply bg-blue-400 hover:!bg-blue-400 hover:bg-opacity-80 text-white font-concert text-base mx-3 rounded-md;
}

.error-text {
  @apply text-red-500 text-xs font-concert;
}

.label-text {
  @apply text-gray-200 font-Gorditas text-base;
}
.detail-text {
  @apply text-white ml-auto font-concert;
}

.page-title-text {
  @apply text-white text-3xl font-Gorditas mb-3;
}
